<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">SimpleWebApp</div>
            <nav class="nav">
                <a class="nav__link" href="/employees">Назад на главную</a>
            </nav>
        </div>
    </div>
</header>
    <div class="div_input">
        <span class="b1">Если Вы попали на эту страницу - значит где то Вы свернули не туда. Тут Вы можете только вернуться на главную страницу</span>
    </div>
</body>
</html>